.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.btn {
  display: flex;
  padding: 7px;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  background-color: #131313;
  border: 1px solid var(--white-text, #fff);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.heading {
  color: var(--white-text, #fff);
  font-family: "Raleway";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-left: 10px;
  width: 114px;
}

.header_img {
  background-image: url("../../img/clickHeaderIcon.svg");
}
